<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>
       HomePageWeb.jsp
    </welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Mapping of the Resource Servlets -->

	<servlet>
		<servlet-name>Coupon World Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.couponsworld.resources</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Coupon World Application</servlet-name>
		<url-pattern>/webapi/*</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>UserTypeServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.UserTypeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserTypeServlet</servlet-name>
		<url-pattern>/userType</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>UserPlatformServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.UserPlatformServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserPlatformServlet</servlet-name>
		<url-pattern>/userPlatform</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UsabilityStatusServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.UsabilityStatusServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsabilityStatusServlet</servlet-name>
		<url-pattern>/usabilityStatus</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>SubCategoryServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.SubCategoryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubCategoryServlet</servlet-name>
		<url-pattern>/subCategories</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.CategoryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/categories</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CompanyServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.CompanyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompanyServlet</servlet-name>
		<url-pattern>/companies</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GenerateOfferPageServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.GenerateOfferPageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateOfferPageServlet</servlet-name>
		<url-pattern>/OfferPage</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>OfferServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.OfferServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>OfferServlet</servlet-name>
		<url-pattern>/offers</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GenerateCategorySubCategoryMappingPageServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.GenerateCategorySubCategoryMappingPageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateCategorySubCategoryMappingPageServlet</servlet-name>
		<url-pattern>/CategorySubCategoryMappingPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategorySubCategoryMappingServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.CategorySubCategoryMappingServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategorySubCategoryMappingServlet</servlet-name>
		<url-pattern>/categorySubCategoryMapping</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>GenerateIndexPageWeb</servlet-name>
		<servlet-class>com.couponsworld.servlets.webclient.GenerateIndexPageWeb</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateIndexPageWeb</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>



	<!-- Mapping of the JSP Pages -->

	<servlet>
		<servlet-name>AddCompanyPage</servlet-name>
		<jsp-file>/addCompany.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCompanyPage</servlet-name>
		<url-pattern>/addCompany</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddCategoryPage</servlet-name>
		<jsp-file>/addCategory.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCategoryPage</servlet-name>
		<url-pattern>/addCategory</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AddSubCategoryPage</servlet-name>
		<jsp-file>/addSubCategory.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSubCategoryPage</servlet-name>
		<url-pattern>/addSubCategory</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddUsabilityStatusPage</servlet-name>
		<jsp-file>/addUsabilityStatus.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUsabilityStatusPage</servlet-name>
		<url-pattern>/addUsabilityStatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddUserPlatformPage</servlet-name>
		<jsp-file>/addUserPlatform.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserPlatformPage</servlet-name>
		<url-pattern>/addUserPlatform</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddUserTypePage</servlet-name>
		<jsp-file>/addUserType.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserTypePage</servlet-name>
		<url-pattern>/addUserType</url-pattern>
	</servlet-mapping>


	<!-- Mapping of the JSP Pages -->

	<!-- Mapping of the Admin Login & Logout Servlets -->

	<servlet>
		<servlet-name>AdminLoginAccessServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.AdminLoginAccessServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginAccessServlet</servlet-name>
		<url-pattern>/accessAdmin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminLogoutAccessServlet</servlet-name>
		<servlet-class>com.couponsworld.servlets.AdminLogoutAccessServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogoutAccessServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>



</web-app>
